<h2>{{t 'components.test.counter' current=currentQuestionNumber total=test.questions.length}}</h2>

{{test-question question=currentQuestion answer=currentAnswer isLastQuestion=currentQuestionIsLastQuestion user=user showNextQuestion='showNextQuestion' finishedLastQuestion='finishedLastQuestion'}}