/*
 * Colors
 */
$primary-bg-color: #F1F1F1;
$secondary-bg-color: #cccccc;

/*
 * Dimensions
 */
$container-width-lg: 1200px;
$container-width-md: 990px;
$container-width-sm: 760px;
$container-width-xs: 100%;

/*
 * Components
 */
$things-grid-inner-margin: 15px;
