{{nav-bar isAuthenticated=session.isAuthenticated logout='logout'}}
<main id="main">
  {{flash-messages-box flashMessages=flashMessages}}
  {{outlet}}
</main>
<footer id="footer" class="clearfix">
    <ul>
        <li>{{#link-to 'index'}}Über uns{{/link-to}}</li>
        <li>{{#link-to 'index'}}Kontakt{{/link-to}}</li>
        <li>{{#link-to 'index'}}Datenschutzerklärung{{/link-to}}</li>
        <li>{{#link-to 'index'}}Impressum{{/link-to}}</li>
    </ul>
</footer>
