{{nav-bar isAuthenticated=session.isAuthenticated logout='logout'}}
<main id="main">
  {{flash-messages-box flashMessages=flashMessages}}
  {{outlet}}
</main>
<footer id="footer" class="clearfix">
    <ul>
        <li><a href="https://www.secuso.informatik.tu-darmstadt.de/en/secuso-home/" target="_blank">Über uns</a></li>
        <li>{{#link-to 'contact'}}Kontakt{{/link-to}}</li>
        <li>{{#link-to 'index'}}Datenschutzerklärung{{/link-to}}</li>
        <li>{{#link-to 'imprint'}}Impressum{{/link-to}}</li>
    </ul>
</footer>
