<div id="imprint">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Impressum</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="bodytext"><b>Anbieter</b>&nbsp;
                    </p>
                    <p class="bodytext">Anbieter dieser Internetseiten ist die&nbsp;
                    </p>
                    <p class="bodytext">Technische Universität Darmstadt<br>Fachbereich Informatik<br>Hochschulstrasse 10<br>64283 Darmstadt
                    </p>
                    <p class="bodytext">vertreten durch den Dekan des Fachbereichs.
                    </p>
                    <p class="bodytext">Ansprechpartner für das zentrale Internetangebot der TU Darmstadt ist die Pressestelle der TU Darmstadt, <a href="http://www.tu-darmstadt.de/presse/" target="_blank">http://www.tu-darmstadt.de/presse/</a>
                    </p>
                    <p class="bodytext">Der Fachbereich Informatik ist Teil der Technischen Universität Darmstadt (TU Darmstadt). Die Technische Universität Darmstadt ist rechtsfähige Körperschaften des öffentlichen Rechts und zugleich staatliche Einrichtung (§ 1 Abs. 1 HHG (Hessisches Hochschulgesetz vom 31. Juli 2000, GVBl. S. 374).&nbsp;
                    </p>
                    <p class="bodytext">&nbsp;</p>
                    <p class="bodytext"><b>Haftungsauschluss </b>("disclaimer")
                    </p>
                    <p class="bodytext">1. Inhalt der Internetpräsenz
                    </p>
                    <p class="bodytext">Der Fachbereich Informatik der TU Darmstadt ist um Richtigkeit und Aktualität der auf dieser Internetpräsenz bereitgestellten Informationen bemüht. Trotzdem können Fehler und Unklarheiten nicht vollständig ausgeschlossen werden. Der Fachbereich Informatik der TU Darmstadt übernimmt deshalb keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
                    </p>
                    <p class="bodytext">Für Schäden materieller oder immaterieller Art, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen unmittelbar oder mittelbar verursacht werden, haftet der Fachbereich Informatik der TU Darmstadt nicht, sofern ihr nicht nachweislich vorsätzliches oder grob fahrlässiges Verschulden zur Last fällt. Gleiches gilt für kostenlos zum Download bereitgehaltene Software.
                    </p>
                    <p class="bodytext">Der Fachbereich Informatik der TU Darmstadt kann ohne vorherige Ankündigung Teile des Internetangebots oder das gesamte Angebot verändern, ergänzen, löschen oder die Veröffentlichung zeitweise oder endgültig einstellen.
                    </p>
                    <p class="bodytext">&nbsp;</p>
                    <p class="bodytext">2. Verweise und Links
                    </p>
                    <p class="bodytext">Die Verantwortlichkeit für "fremde Inhalte", die beispielsweise durch direkte oder indirekte Verknüpfungen (z.B. sogenannte "Links") zu anderen Anbietern bereitgehalten werden, setzt unter anderem positive und aktuelle Kenntnis des Inhaltes voraus. Der Fachbereich Informatik der TU Darmstadt hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten/verknüpften Seiten und macht sich diese Inhalte auch nicht zu Eigen. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in von dem&nbsp; Fachbereich Informatik der TU Darmstadt eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten.
                    </p>
                    <p class="bodytext">Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist. Der Fachbereich Informatik der TU Darmstadt hat keine positive Kenntnis über rechtswidrige oder anstößige Inhalte auf den verknüpften Seiten fremder Anbieter. Sollten auf den verknüpften Seiten fremder Anbieter dennoch rechtswidrige oder anstößige Inhalte enthalten sein, so distanziert sich der Fachbereich Informatik der TU Darmstadt von diesen Inhalten ausdrücklich.
                    </p>
                    <p class="bodytext">Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches des Fachbereich Informatik der TU Darmstadt liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Fachbereich Informatik der TU Darmstadt von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
                    </p>
                    <p class="bodytext">&nbsp;</p>
                    <p class="bodytext">3. Urheber- und Kennzeichenrecht
                    </p>
                    <p class="bodytext">Der Fachbereich Informatik der TU Darmstadt ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluß zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
                    </p>
                    <p class="bodytext">Das Copyright für veröffentlichte, vom Fachbereich Informatik der TU Darmstadt selbst erstellte Objekte bleibt allein beim Fachbereich Informatik der TU Darmstadt. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der TU Darmstadt nicht gestattet. Das Layout der Homepage, die verwendeten Grafiken sowie die sonstigen Inhalte sind urheberrechtlich geschützt.
                    </p>
                    <p class="bodytext">&nbsp;</p>
                    <p class="bodytext">4. Datenschutz
                    </p>
                    <p class="bodytext">Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet.
                    </p>
                    <p class="bodytext"><a href="https://www.informatik.tu-darmstadt.de/de/impressum/datenschutz/" class="internal-link">Analyse/Statistik</a>
                    </p>
                    <p class="bodytext">&nbsp;</p>
                    <p class="bodytext">5. Rechtswirksamkeit dieses Haftungsausschlusses
                    </p>
                    <p class="bodytext">Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt. </p></div>
            </div>
        </div>
    </div>
</div>
