<div id="password-forgotten">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Passwort vergessen</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Falls Sie Ihr Passwort vergessen haben, können Sie es hier zurücksetzen. Geben Sie dazu die E-Mail-Adresse an, mit der Sie sich registriert haben.</p>
                    <p>Sie werden daraufhin eine E-Mail mit einem Link erhalten, mit dessen Hilfe Sie Ihr Passwort zurücksetzen können. Folgen Sie dazu einfach den Anweisungen in der E-Mail.</p>
                </div>
            </div>
            <div class="row spacer">
                <div class="col-xs-12">
                    <form {{action 'resetPassword' on='submit'}}>
                        <div class="form-group">
                            <label for="identification">{{t 'login.body.email'}}</label>
                          {{input id='identification' class='form-control' placeholder=identificationPlaceholder value=identification disabled=isProcessingInput}}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" {{bind-attr disabled=isProcessingInput}}>Passwort zurücksetzen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>