<div id="reset-password">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Passwort zurücksetzen</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Geben Sie bitte noch einmal Ihre E-Mail-Adresse an. Danach werden Sie eine E-Mail mit Ihrem neuen Passwort erhalten. Ändern Sie dieses bitte so schnell wie möglich.</p>
                </div>
            </div>
            <div class="row spacer">
                <div class="col-xs-12">
                    <form {{action 'resetPassword' on='submit'}}>
                        <div class="form-group">
                            <label for="identification">{{t 'login.body.email'}}</label>
                          {{input id='identification' class='form-control' placeholder=identificationPlaceholder value=identification disabled=isProcessingInput}}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit" {{bind-attr disabled=isProcessingInput}}>Passwort zurücksetzen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>